<%- layout('layouts/main') %>
<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card text-white bg-dark mt-4 text-center">
        <div class="card-header">
          <h4>Editar producto</h4>
        </div>
        <div class="card-body">
            <form action="/editar-producto/<%= editar_p._id %>" method="POST">
                <div class="form-group mb-3"><input type="text" name="Nombre" value="<%= editar_p.Nombre%>" class="form-control"></div> 
                <div class="form-group mb-3"><input type="text" name="Precio" value="<%= editar_p.Precio%>" class="form-control"></div>  
                <div class="form-group mb-3"><input type="text" name="Existencia" value="<%= editar_p.Existencia%>" class="form-control"></div>
                <div class="form-group mb-3 d-grid gap-2 col-6 mx-auto"><button type="submit" class="btn btn-outline-success">Editar</button></div>                                           
            </form>
        </div>
      </div>
    </div>
  </div>
 